*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria: rgb(83, 78, 78);
    --corSecundaria: rgb(120, 111, 111);
    --branco: rgb(214 214 214);
}

header, footer{
    width: 100%;
    background-color: var(--corPrimaria);
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

#logo-img{
    width: 30px;
}

nav{
    display: flex;
    gap: 10px;
}



#logo{
    display: flex;
    gap: 20px;
}

#catalogo{
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

h4{
    text-align: center;
    margin-bottom: 20px;
}

.livro{
    width: 200px;
    background-color: var(--corSecundaria);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

button{
    display: flex;
    padding-top: 5px;
}
.livro img{
    width: 80%;
}