*{
    margin: 0;
    padding: 0;
}

/* Página 2 ABAIXO */
#pag2{
    background-image: url(https://images8.alphacoders.com/135/1354012.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
main{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;    
    background-color: rgba(61, 60, 60, 0.589);
    margin: 50px;
    border-radius: 5px;
}

video{
    width: 300px;
    height: 180px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4{
    background-color:rgba(10, 10, 10, 0.664);
    width: 270px;
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.692);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
}

#text1{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.692);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.521);
    border-radius: 3px;
    padding: 10px;
    margin-left: 10px;
}

#loginAQ{
    margin-left: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 1.0s ease-in-out;
    border-radius: 5px;
    background-color: rgb(61, 60, 60);
    display: flex;
}

a:hover{
    transform: scale(2.5);
    background-color: rgb(255, 255, 255);
    color:rgba(24, 92, 92, 0.603);;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 1.0s ease-in-out;
    transform: scale(1.0);
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#areas{
    float: right;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}

header, footer{
    margin-top: 5px;
    background-color:rgba(10, 10, 10, 0.664);
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

#chao{
    margin-top: 5px;
    color: white;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    color: rgba(245, 222, 179, 0.555);
    text-decoration: overline;
    font-size: 30px;
    text-align: center;
    width: 100%;
}



#titulo{
    margin-left: 400px;
    padding: 15px;
    text-shadow: 1px 1px 20px white;
    border-radius: 5px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.664);
    text-align: center;
}

h3{
    text-shadow: 2px 2px 10px black;
    margin-top: -100px;
    margin-left: -99px;
    font-size: 30px;
    color: rgb(70, 68, 68);
    text-align: center;
    margin-bottom: 100px;
}

p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.692);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
    margin: 20px;
}

.container{
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.623);
    margin-top: 10px;
    width: 100%;
    padding: 20px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.699);
    margin-left: -20px;
    color: #232222;
    text-shadow: 5px 5px 10px #ffffff;
    margin-top: 80px;
}

iframe{
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

img{
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
    transition: 1.0s ease-in-out;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);

}

#kaguya{
    width: 180px;
    height: 275px;
}

#nau{
    width: 190px;
    height: 275px;
}

#yamadas{
    width: 190px;
    height: 275px;
}

#cat{
    width: 190px;
    height: 275px;
}


img:hover{
    border-radius: 10px;
    transform: scale(1.1);
    cursor: pointer;
    transition: 1.0s ease-in-out;
    box-shadow: 5px 5px 5px rgba(248, 247, 247, 0.5);
}

#filmes{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: 650px;
    margin-top: -70px;
    color: rgba(255, 247, 247, 0.699);
    text-shadow: 3px 2px 10px rgb(17, 17, 17);
    font-size: 70px;
    text-decoration: underline;
}







/* Página 1 ABAIXO */
#pag1{
    background-image: url(https://i0.wp.com/studioghibli.com.br/wp-content/uploads/2008/07/Studio-Ghibli-Logo.jpg?fit=1920%2C1040&ssl=1);
    background-position-x: center;
    background-size: cover;
    justify-content: center;
    display: flex;

}

#nome{
    width: 200px;
    height: 10px;
    margin-top: 1vh;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;

}

#senha{
    width: 200px;
    margin-top: 2px;
    height: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: darkslategray;
    text-align: center;
    display: flex;
    justify-content: center;
}

#logar{
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    bottom: pointer;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: darkslategray;
    text-align: center;
    display: flex;
    justify-content: center;
}

#resposta{
    font-size: 10px;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    color: darkslategray;
    font-size: 15px;

}

#DadosAQ{
    margin-top: 33vh;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(10, 10, 10, 0.664);
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 20px;
    color: rgba(24, 92, 92, 0.603);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login{
    font-size: 50px;
    color: darkslategray;
    text-align: center;
}